$dark-blue: #141134;
$deep-purple: #9f82e3;
$dark-purple: #6342b1;;
$dark-gray: #424753;
$green: #69d6b8;
$top-transparency-layer: #151132;
$slider-transparency-layer-bottom: #141134;
$slider-transparency-layer-top: rgba(99, 65, 177, 0.27);
